*.SLDASM
*.SLDPRT
*.CWR
*.LOG
*.MFC
*.P42
*.SL4
*.txt
*.docx
*.pdf
*.xlsx
*.png
*.STEP
*.step

!assets/
!assets/**
!assets/images/**
!assets/images/*.png
!assets/images/**/*.png
!assets/images/**/*.GIF
!assets/models/*.STEP
!assets/models/*.step
